.header-container{
    display: flex;
    width: 350px;
    height: 56.70000076293945px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1;
        
    
}

body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 1100px;
    flex-grow: 1;
}

.image{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-left: 166px;

}

.img{
    width: 16px;
    height: 16px;
    opacity: 1;
    margin-top: 16.38px;
    flex-grow: 1;
}

.ham-image{
    width: 16px;
    height: 16px;
    opacity: 1;
    margin-top: 20.34px;
}

.logo{
    width: 100%;
    height: 43.77000045776367px;
    opacity: 1;
    margin-left: 75px;
}

.desktop-header{
    display: none;
}

@media  screen and (min-width:768px){
    .header-container{
        display: none;
    }

    .desktop-header{
        display: block;
        
    }

    .desk-header-details{
        display: flex;
        width: 522.5px;
        height: 91.4000015258789px;
        opacity: 1;
        margin-top: 17.58px;
        margin-left: 30px;
        align-items: center;
        justify-content: space-evenly;

    }

    .desk-details{
        width: 331.3299865722656px;
        height: 91.4000015258789px;
        opacity: 1;
        margin-top: 17.58px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .desk-image{
        width: 44px;
        height: 44px;
        opacity: 1;
        margin-top: 17.58px;
        display: flex;
        align-items: center;
        gap: 20px;

    }

    .desk-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1360px;
    height: 127px;
    margin-left: 40px;
    margin-right: 40px;
    }

    .links{
        font-family: Segoe UI;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 23.4px;
        letter-spacing: 0%;
        vertical-align: middle;

    }

    .desk-icon{
        width: 200px;
        height: 88px;
        opacity: 1;
        top: -0.01px;

    }

    .desk-img{
        width: 19px;
        height: 22px;
        opacity: 1;
        top: 1.04px;
        left: 2.86px;
        border-width: 2.01px;

    }

    .desk-input{
        width: 253.88999938964844px;
        height: 40.79999923706055px;
        opacity: 1;
        top: 26px;
        border-radius: 50px;
        border-width: 1px;
        font-family: Segoe UI;
        font-weight: 400;
        font-style: Regular;
        font-size: 13px;
        line-height: 14.3px;
        letter-spacing: 1.95px;
        vertical-align: middle;
        text-transform: uppercase;


    }
}